*.out
*.test
*.xml
*.swp
fmt.log
import.log
lint.log
cover.html
badgerdb/
.envrc
.idea/
.tmp/
.mkdocs-virtual-env/
vendor/
jaeger-ui-build/
examples/hotrod/hotrod
cmd/standalone/standalone-linux
cmd/agent/agent
cmd/collector/collector
cmd/query/query
cmd/query/query-linux
cmd/query/jaeger-ui-build/
crossdock/crossdock-linux
run-crossdock.log
